<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the articles!</title>
    <style>
        body{
            background: burlywood;
        }
        header{
            background: bisque;
            text-align: right;
        }
        .links{
            margin: 30px 30px;
            font-size: 30px;
            font-family: Arial,serif;
            color: indigo;
            text-decoration: none;
        }
        .container{
            text-align: center;
            margin: 30px auto;
        }
    </style>
</head>
    <header>
        <a class="links" href="/login">Login</a>
    </header>
    <body>
        <div class="container">
            <p class="links">Welcome to the articles!</p>
            <a class="links" href="/users">See users</a>
            <a class="links" href="/articles">See articles</a>
        </div>
    </body>
</html>