<configuration level="warn">
    <conversionRule conversionWord="clr" converterClass="world.evgereo.articles.utils.LevelColorfulLogUtils"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender" level="warn">
        <encoder>
            <pattern>%cyan(%d{YY-MM-dd HH:mm:ss.SSS}) %clr(%-5level) %file line:%line [%magenta(%logger{36})] : %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="world.evgereo.articles" level="debug" additivity="false">
        <appender-ref ref="Console"/>
    </logger>

    <logger name="world.evgereo.articles.ArticlesApiApplication" level="info"/>

    <root level="warn">
        <appender-ref ref="Console"/>
    </root>
</configuration>